<?php if($files): foreach($files as $f): extract($f);?>

<tr class="file-row" data-id="<?php echo $id?>">
  <td style="width:20%">
    <img src="<?=$filepath?>" />
  </td>
  <td class="file-title pointer" style="70%">
    <a class="edit-file pointer" data-title="<?=addslashes($title)?>" data-id="<?php echo $id?>"><i class="fa fa-edit fa-lg"></i></a><?php echo $title?>
  </td>
  <td style="10%">
    <a class="delete-file pointer" data-id="<?php echo $id?>"><i class="far fa-trash-alt fa-lg"></i></a>
  </td>
</tr>
<?php endforeach; endif;?>
