<?php if($files): foreach($files as $f): extract($f);?>
<tr class="file-row" data-id="<?=$id?>">
    <td>
        <a data-url="<?=$filepath?>" data-id="<?=$id?>" class="view-file pointer" style="color : inherit"><i class="fa fa-search fa-lg"></i></a>
        <i class="fa fa-edit fa-lg edit-file pointer" data-id="<?=$id?>"></i>
    </td>
    <td class="file-title pointer">
        <div style='top: 50%;'>
        <?=$title?>
        </div>
    </td>
    <td>
        <i class="fa fa-trash-o fa-lg delete-file" data-id="<?=$id?>"></i>
    </td>
</tr>
<?php endforeach; endif;?>
