/* Page is 800 x 600 */

body {
    font-family : arial;
    font-size : 12px;
}

th {
    text-align : left;
}


div#folders {
    width : 150px;
    height : 590px;
    background-color : white;
    position : absolute;
    left : 0px;
    top : 0px;
    overflow: auto;
    font-size : 10px;
    padding-left : 3px;
    white-space: nowrap;
}

div#files {
    width : 640px;
    height : 550px;
    background-color : white;
    position : absolute;
    left : 160px;
    top : 30px;
    overflow-y: auto;
    padding-top : 10px;
}

div#tools {
    position : absolute;
    left : 160px;
    top : 0px;
    width : 640px;
    height : 20px;
    font-size : 10px;
}

div#tools input {
    font-size : 10px;
}

div#file-type-buttons {
    margin : 0px;
    padding : 0px;
    border-bottom : 2px solid #ebebeb;

}

div#folders ul, div#file-type-buttons ul {
    list-style-type: none;
    margin : 0px;
    padding : 0px;
}

div#file-type-buttons ul li {
    display : inline;
    padding : 0px 10px;
}

div#folders ul.file-listing {
    list-style-type: none;
    margin-left : 10px;
    padding : 0px;
}

div#folders li.folder {
    padding : 3px 3px;
    cursor : pointer;
}
div#folders li.folder div.folder-file-listing {
    display : none;
}

div#folders li img {
    vertical-align: bottom;
}

div#folders div.pick-image, div.pick-document {
    cursor : pointer;
    padding : 2px;
}

div#folders div.pick-image:hover, div.pick-document:hover {
    background-color : #ebebeb;
}

div#files div.pick-image {
    float : left;
    width : 150px;
    height : 150px;
    margin-left : 10px;
}
div#files div.pick-document {
    float : left;
    width : 100px;
    height : 80px;
    margin-left : 10px;
    font-size : 10px;
    text-align : center;
}

div#files div.pick-multimedia {
    float : left;
    width : 120px;
    height :120px;
    margin-left : 10px;
    font-size : 10px;
    text-align : center;
}

div#ck-file-info {
    text-align : center;
    margin : auto;
    font-size : 12px;
}
div#ck-file-info input {
    font-size : 10px;
}

img.ftype-change {
    cursor : pointer;
}

.current-type {
    background-color : #ebebeb;
}

div#files div.pick-image {
    font-size : 10px;
    text-align : center;
}