.mb-resize{
	display:block;
	background-color:transparent !important;
	border:3px solid transparent !important;
  *border:5px solid transparent !important;
  margin:0 !important;
}

.mb-resize-resizable-n { cursor: e-resize; width: 100% !important; height: 50px !important; right: 0 !important; top: -10px !important; }
.mb-resize-resizable-e { cursor: e-resize; width: 20px !important; height: 100% !important; right: -20px !important; top: 0 !important;}
.mb-resize-resizable-w { cursor: e-resize; width: 20px !important; height: 100% !important; left: -20px !important; top: 0 !important;}
.mb-resize-resizable-s { cursor: s-resize; width: 100% !important; height: 20px !important; bottom: -10px !important; left: 0 !important; }
.mb-resize-resizable-se { cursor: se-resize; width: 20px !important; height: 20px !important; right:0 !important; bottom: 0 !important; }

.mbproxy{border:1px dotted gray;background: url(./img/proxy.png)}

.containerPlus {font-family:Verdana; font-size:13px};
.containerPlus .spacer {margin-top:10px}
.containerPlus .buttonBar { position:relative;top:0;float:right;margin-top:-23px; margin-right:15px}
.containerPlus .buttonBar img {margin-left:5px}
.containerPlus .mbcontainercontent {margin-right:-15px; padding-right:10px;overflow:auto;}

/*.iconLabel{font-family:sans-serif;font-size:10px;padding:5px;background:black;color:white;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;}*/

.iconLabel{font-family:sans-serif;font-size:10px;padding:5px;background:#f3f3f3;color:gray;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc}

/*
* default
*/
.containerPlus h1 {color: #000;}
.containerPlus .no	{ background: url('./img/default/no.png') top left no-repeat; }
.containerPlus .ne	{ background: url('./img/default/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus .ne img	{left:-10px; top:-10px}
.containerPlus .n	{ background: url('./img/default/n.png') top center repeat-x; margin-right: 20px; -moz-user-select: none; -khtml-user-select: none}
.containerPlus .n	{ padding-top:8px;height:26px; font-size:15px; white-space:nowrap;overflow:hidden;}
.containerPlus .n	a{ text-decoration:none;color:#000; font-size:15px;}

.containerPlus .o	{ background: url('./img/default/o.png') top left repeat-y;}
.containerPlus .e	{ background: url('./img/default/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus .c { background: url('./img/default/c.png'); margin-right: 23px; padding-top: 1px; padding-bottom: 1px; }

.containerPlus .so	{ background: url('./img/default/so.png') bottom left no-repeat;}
.containerPlus .se	{ background: url('./img/default/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus .s { background: url('./img/default/s.png') bottom repeat-x; padding-top: 20px; margin-right: 23px;}


/*
* default
*/
.containerPlus h1 {color: #000;}
.containerPlus .no	{ background: url('./img/grey/no.png') top left no-repeat; }
.containerPlus .ne	{ background: url('./img/grey/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus .ne img	{left:-10px; top:-10px}
.containerPlus .n	{ background: url('./img/grey/n.png') top center repeat-x; margin-right: 20px; -moz-user-select: none; -khtml-user-select: none}
.containerPlus .n	{ padding-top:8px;height:26px; font-size:15px; white-space:nowrap;overflow:hidden;}
.containerPlus .n	a{ text-decoration:none;color:#000; font-size:15px;}

.containerPlus .o	{ background: url('./img/grey/o.png') top left repeat-y;}
.containerPlus .e	{ background: url('./img/grey/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus .c { background: url('./img/grey/c.png'); margin-right: 23px; padding-top: 1px; padding-bottom: 1px; }

.containerPlus .so	{ background: url('./img/grey/so.png') bottom left no-repeat;}
.containerPlus .se	{ background: url('./img/grey/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus .s { background: url('./img/grey/s.png') bottom repeat-x; padding-top: 20px; margin-right: 23px;}


/*
* black
*/
.containerPlus.black h1 {color: #fff;}
.containerPlus.black .no	{ background: url('./img/black/no.png') top left no-repeat}
.containerPlus.black .ne	{ background: url('./img/black/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus.black .n	{ background: url('./img/black/n.png') top center repeat-x; margin-right: 25px;height:26px;}
.containerPlus.black .n	{ padding-top:8px;font-size:15px; color:white;-moz-user-select: none; -khtml-user-select: none}
.containerPlus.black .n	a{ text-decoration:none;color:#fff; font-size:15px; white-space:nowrap;overflow:hidden;}

.containerPlus.black .o	{ background: url('./img/black/o.png') top left repeat-y;}
.containerPlus.black .e	{ background: url('./img/black/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus.black .c { background: url('./img/black/c.png'); margin-right: 25px; padding-top: 1px; padding-bottom: 1px; }
.containerPlus.black .c .mbcontainercontent {color:white;}
.containerPlus.black .c .mbcontainercontent a {color:white;}

.containerPlus.black .so	{ background: url('./img/black/so.png') bottom left no-repeat;}
.containerPlus.black .se	{ background: url('./img/black/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus.black .s { background: url('./img/black/s.png') bottom repeat-x; padding-top: 20px; margin-right: 25px;}

/*
* white
*/
.containerPlus.white .no	{ background: url('./img/white/no.png') top left no-repeat;}
.containerPlus.white .ne	{ background: url('./img/white/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus.white .n	{ background: url('./img/white/n.png') top center repeat-x; margin-right: 25px;height:26px;}
.containerPlus.white .n	{ padding-top:8px; font-size:16px;-moz-user-select: none; -khtml-user-select: none}

.containerPlus.white .o	{ background: url('./img/white/o.png') top left repeat-y;}
.containerPlus.white .e	{ background: url('./img/white/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus.white .c { background: url('./img/white/c.png'); margin-right: 25px; padding-top: 1px; padding-bottom: 1px; }
.containerPlus.white .c .mbcontainercontent {color:#000;}
.containerPlus.white .n	a{}
.containerPlus.white .n	a:hover{ text-decoration:underline}

.containerPlus.white .so	{ background: url('./img/white/so.png') bottom left no-repeat;}
.containerPlus.white .se	{ background: url('./img/white/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus.white .s { background: url('./img/white/s.png') bottom repeat-x; padding-top: 20px; margin-right: 25px;}


/*
* alert
*/
.containerPlus.alert .no	{ background: url('./img/alert/no.png') top left no-repeat;}
.containerPlus.alert .ne	{ background: url('./img/alert/ne.png') top right no-repeat; margin-left: 21px;}
.containerPlus.alert .n	{ background: url('./img/alert/n.png') top center repeat-x; margin-right: 25px;height:26px;}
.containerPlus.alert .n	{ padding-top:8px; font-size:16px;-moz-user-select: none; -khtml-user-select: none}

.containerPlus.alert .o	{ background: url('./img/alert/o.png') top left repeat-y;}
.containerPlus.alert .e	{ background: url('./img/alert/e.png') top right repeat-y; margin-left: 21px;}
.containerPlus.alert .c { background: url('./img/alert/c.png'); margin-right: 25px; padding-top: 1px; padding-bottom: 1px; }
.containerPlus.alert .c .mbcontainercontent {color:#000;}
.containerPlus.alert .n	a{}
.containerPlus.alert .n	a:hover{ text-decoration:underline}

.containerPlus.alert .so	{ background: url('./img/alert/so.png') bottom left no-repeat;}
.containerPlus.alert .se	{ background: url('./img/alert/se.png') bottom right no-repeat; margin-left: 21px;}
.containerPlus.alert .s { background: url('./img/alert/s.png') bottom repeat-x; padding-top: 20px; margin-right: 25px;}

