<div style="margin-top:1em">
<form method="post" action="pulse/admin/toggleAllow">
    <button class="btn <?=$button_class?>" title="<?=$button_title?>"><i class="fa <?=$button_icon?>"></i> <?=$button_status?></button>
</form>
</div>
<div class="pager-listing" id="schedule-list" data-rpp="10" data-pager-url='pulse/admin/pager'>
    <div style="text-align:right" class="pager-search"></div>
    <table class="table table-striped sans">
        <thead class="pager-head">
            <tr>
                <th class="pager-header status"></th>
                <th class="pager-header id"></th>
                <th class="pager-header name"></th>
                <th class="pager-header interim"></th>
                <th class="pager-header execute_after"></th>
                <th class="pager-header start_time"></th>
                <th class="pager-header end_time"></th>
                <th class="pager-header">Run time</th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row" data-row-id="">
                <td class="pager-column status"></td>
                <td class="pager-column id"></td>
                <td class="pager-column name"></td>
                <td class="pager-column interim"></td>
                <td class="pager-column execute_after" style="font-size:.9em"></td>
                <td class="pager-column start_time" style="font-size:.9em"></td>
                <td class="pager-column end_time" style="font-size:.9em"></td>
                <td class="pager-column runtime" style="font-size:.9em"></td>
            </tr>
        </tbody>
    </table>
    <div id="page-list" class="pagination pagination-centered"></div>
</div>