div.month-view-mini {
  width : 100%;
}

div.month-view-full {
  width : 100%;
}

div.month-view-full table {
  width : 100%;
  border-collapse : collapse;
  border-width : 1px;
  border-style : solid;
  border-color : #A03E19;;
}

div.month-view-full table td {
  width : 11%;
  border-collapse : collapse;
  border-width : 1px;
  border-style : solid;
  border-color : #A03E19;
  text-align : left;
  padding : 3px;
  height : 100px;
}

div.month-view-full table th {
  background-color : #A03E19;
  color : white;
  text-align : center;
}


div.month-view-mini table {
  width : 100%;
  border-collapse : collapse;
  border-width : 1px;
  border-style : solid;
  border-color : #A03E19;
}

div.month-view-mini table td {
  width : 11%;
  border-collapse : collapse;
  border-width : 1px;
  border-style : solid;
  border-color : #A03E19;;
  text-align : center;
}

div.month-view-mini table th {
  background-color : #A03E19;
  color : white;
  text-align : center;
}

td.day-empty {
  background-color : #ADB583;
}

td.day-current {
  background-color : #A03E19;
  color : white;
}

td.day-normal {
  background-color : #DEE2BD;
}

.calendar-event {
  padding : 5px;
}
