div#note-content {
   margin-top : 5px;
   border : 1px solid gray;
   overflow : auto;
   height : 300px;
   padding : 5px;
}

div#delete-button {
   text-align : right;
   margin-top : 10px;
}

div#close-button {
   text-align : center;
   margin-top : 10px;
}

span#date-sent, span#sent-by {
   font-style : italic;
}