/*
 * User popup styles 
 */
ac_results {
        color : black;
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
}

.ac_results ul {
	width: 150px;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
        background-color : white;
        border : 1px solid black;
        border-top : none;
}

.ac_loading {
	background : url('images/core/ajax-loader.gif') right center no-repeat;
}

li.ac_over {
	background-color: #7f7f7f;
	color: #ffffff;
}

span.note-not-read a {
        font-style : italic;
}