.menu-link-pop {
    display: none;
}

.menu-admin {
    position: relative;
    float: left;
}

.menu-admin:hover .menu-link-pop {
    padding: 3px 1px 2px 1px;
    display: block;
    position: absolute;
    border: solid 1px black;
    background-color: #d7d7d7;
    color: inherit;
    top: -2px;
    left: 0px;
    width: 170px;
}

#menu-site-map ol {
    list-style-type: upper-roman;
}

#menu-site-map ol ol {
    list-style-type: upper-alpha;
}

#menu-site-map ol ol ol {
    list-style-type: decimal;
}

#menu-site-map ol ol ol ol {
    list-style-type: lower-alpha;
}

a.move-popup {
    background-color: black;
    color: white;
}

.menu-sort-placeholder {
    border: 2px gray dotted;
}
