.menu-link-pop { 
    display : none;
}

.menu-admin:hover .menu-link-pop {
    padding : 3px 1px 2px 1px;
    display : block;
    position : absolute;
    margin : -8px 0px 0px -10px;
    border : solid 1px black;
    background-color : #d7d7d7;
    color : inherit;
}

#menu-site-map ol {
    list-style-type : upper-roman;
}

#menu-site-map ol ol {
    list-style-type : upper-alpha;
}

#menu-site-map ol ol ol {
    list-style-type : decimal;
}

#menu-site-map ol ol ol ol {
    list-style-type : lower-alpha;
}

a.move-popup {
    background-color : black;
    color : white;
}
