.menu-admin span.menu-link-pop {
    display : none;
}

.menu-admin:hover span.menu-link-pop {
    padding : 3px 1px 2px 1px;
    display : block;
    position : absolute;
    margin-top : -15px;
    border : solid 1px black;
    background-color : #d7d7d7;
}
