.oc { 
   cursor : pointer;
}

ul { 
   margin : 0px;
   padding : 0px;
   padding-left : 10px;
}


ul li {
   list-style-image : none;
   list-style-type : none;
}

.thumbnail { 
   display : none;
   position : absolute;
}

#layout-naked p.other-size { 
   font-size : 90%;
   margin : 0px;
   padding : 0px;
   padding-left : 20px;
}

div#type-choice { 
   padding : 10px;
   border-bottom : 1px solid black;
}

div#folders-listing { 
   padding : 5px;
}

li.selection:hover { 
   background-color : #e3e3e3;
}

#fck-close {
   position : fixed;
   left : 0px;
   bottom : 0px;
   text-align : center;
   width : 100%;
   background-color : #e3e3e3;
}

#fck-close input { 
   margin : 5px 0px;
}

ul.folders { 
   margin : 0px;
   padding : 0px;
}