/* Directory menu */

#cookie-menu {
margin-bottom : 10px;
}

/*  List by James N Pope via http://css.maxdesign.com.au/ */

ul#dirlist { font-family: sans-serif; }

ul#dirlist a
{
font-weight: bold;
text-decoration: none;
}

ul#dirlist, ul#dirlist ul, ul#dirlist li
{
margin: 0px;
padding: 0px;
list-style-type: none;
}

ul#dirlist li { 
    float : left;
    display : inline;
    background-color : white;
}

ul#dirlist li a
{
color: black
background-color: white;
padding: 3px;

}

ul#dirlist li a:hover
{
color: white;
background-color: grey;
}

ul#dirlist li a:active
{
color: #cccccc;
background-color: #000000;
}

ul#subdirlist { display: none; }
ul#subdirlist li { float: none; }

ul#subdirlist li a
{
padding: 0px;
margin: 0px;
}

ul#dirlist li:hover ul#subdirlist
{
display: block;
position: absolute;
font-size: 8pt;
padding-top: 5px;
}

ul#dirlist li:hover ul#subdirlist li a
{
display: block;
width: 10em;
border: none;
padding: 2px;
}

/* End directory menu */


div.image-info {
    float : left;
    width : 85px;
    background-color : white;
    display : inline;
    margin : 10px 10px 0px 0px;
    text-align : center;
}

div.image-info img {
    text-align : center;
}

#directory {
    border : 1px solid black;
    margin : 0;
    background-color : white;
    position : fixed;
    left : 0px;
    top : 0px;
    z-index : 2;
}

#buttons {
    border : 1px solid black;
    margin : 0;
    width : 98%;
    background-color : white;
    position : fixed;
    left : 0px;
    bottom : 0px;
    z-index : 2;
    padding : 4px;
}

#clear-both {
    clear  : both;
    margin-bottom : 40px;
}

div.tn-image-block {
     background-repeat : no-repeat;
}

div.dimensions {
     font-size : .8em;
     position : relative;
     bottom : 2px;
}

div.img-holder {
     height : 80px;
     margin-bottom : 5px;
}

div.img-holder {
    border : 2px transparent solid;
}

#image-manager-list {
margin-top : 20px;
}
