/* Directory menu */

#cookie-menu {
margin-bottom : 10px;
}

/*  List by James N Pope via http://css.maxdesign.com.au/ */


div.image-info {
    float : left;
    width : 85px;
    background-color : white;
    display : inline;
    margin : 10px 10px 0px 0px;
    text-align : center;
}

div.image-info img {
    text-align : center;
}

#directory {
    border : 1px solid black;
    margin : 0;
    background-color : white;
    position : fixed;
    left : 0px;
    top : 0px;
    z-index : 2;
}

#buttons {
    border : 1px solid black;
    margin : 0;
    width : 98%;
    background-color : white;
    position : fixed;
    left : 0px;
    bottom : 0px;
    z-index : 2;
    padding : 4px;
}

#clear-both {
    clear  : both;
    margin-bottom : 40px;
}

div.tn-image-block {
     background-repeat : no-repeat;
}

div.dimensions {
     font-size : .8em;
     position : relative;
     bottom : 2px;
}

#image-manager-list {
margin-top : 20px;
}

div#fc-folder-list {
     overflow : auto;
}


div.pin-list {
   overflow : hidden;
}

div.fc-file {
   text-align : center;
   float : left;
   display : inline;
   margin-left : 10px;
   margin-bottom : 10px;
}

div.fc-icon {
   text-align : center;
   float : left;
   display : inline;
   margin-left : 50px;
   margin-bottom : 50px;
   width : 125px;
   height : 150px;
}

div.fc-files {
   overflow : hidden;            
}

ul#image-folders {
padding :8px;
}

ul#image-folders li {
list-style-type : none;
text-align : center;
line-height : 1em;
margin-bottom : 1em;
}


div#folders {
position : absolute;
top : 40px;
left : 5px;
width : 90px;
height : 500px;
background-color : white;
overflow : auto;
padding : 3px;
}

div#images {
position : absolute;
top : 40px;
left : 110px;
width : 550px;
height : 500px;
background-color : white;
overflow : auto;
padding : 3px;
}

input#add-folder {
position : absolute;
left : 20px;
top : 552px;
}

input#add-image {
position : absolute;
left : 320px;
top : 552px;
}

div#original {
position : absolute;
left : 250px;
top : 10px;
}

input#close-image {
position : absolute;
left : 500px;
top : 552px;
}

ul#image-list li {
display : inline;
list-style-type : none;
float : left;
margin : 10px;
padding : 2px 3px 1px 3px;
}

ul#image-list li p.dimensions {
text-align : center;
font-size : .9em;
}

li.image-select {
background-color : #D4D4D4;
}

div#fc-file-list td.fc-size{
  text-align : right;
}

div#fc-file-list th {
  padding : 5px;
}

div#fc-file-list td.fc-icon {
   padding : 0px;
}

td.fc-icon {
   width : 1px;
}

ul#image-folders li {
   list-style : none;
}
