<?xml version="1.0"?>
<phpunit bootstrap="src/BootstrapPhpunit.php">

    <testsuites>
        <testsuite name="Canopy">
            <directory>tests</directory>
        </testsuite>

        <testsuite name="modules">
            <directory>mod/*/tests/</directory>
        </testsuite>

    </testsuites>
</phpunit>
