body {
    padding: 10px;
    color: #000;
    background-color: #DFE3BA;
}

#container {
    background-color: #ADB583;
}

#header {
    background-color: #ADB583;
}

q {
    background-color: #d6d7ca;
}

a:link,a:visited {
    text-decoration: none;
    color: #A03E19;
}

a:hover,a:active {
    text-decoration: underline;
    color: #000;
}

h1,h2,h3,h1 a:link,h1 a:visited {
    color: #A03E19;
    text-decoration: none;
}

.toggle1 {
    background-color: #EDF4D1;
}

.toggle2 {
    background-color: white;
}

th {
    color: #A03E19;
    background-color: #DFE3BA;
}

#sidepanel div.box {
    border: white 2px solid;
}

.box {
    border: 1px solid black;
    background-color: #ebedd1;
}

.box-title {
    background-color: #DEE2BD;
}

.bgcolor1 {
    background-color: #DEE2BD;
}

.bgcolor2 {
    background-color: #EDF4D1;
}

.bgcolor3 {
    background-color: #ADB583;
}

input {
    color: #000;
    background: #ADB583;
    border: #000 solid 1px;
}

textarea {
    color: #000;
    background: #ADB583;
    border: #000 solid 1px;
}

input[type="submit"] {
    color: #000;
    background: #ADB583;
    border: 1px #000 outset;
    cursor: default;
    cursor: pointer;
}

#top-menu {
    background-color: #DEE2BD;
}

#top-menu a:hover {
    background-color: #ADB583;
    color: black;
}

div.blog div.box {
    border: 2px white solid;
}

/*--------------- Control Panel ---------------*/
.frame {
    background-color: #CBCEAC;
    border: 2px solid #90996E;
    margin-top: -2px;
}

.backgrd {
    border-left: 2px solid #90996E;
    border-top: 2px solid #90996E;
    height: 100%;
}

.backgrd:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}

.tabmenu li {
    border-top: 2px solid #90996E;
    border-left: 2px solid #90996E;
    border-right: 2px solid #90996E;
    border-bottom: 0px;
    margin-right: 2px;
}

.tabmenu li.inactive {
    background-color: #DEDFBA;
    color: #49493D;
}

.tabmenu li.active {
    background-color: #CBCEAC;
    color: #49493D;
}

.tabmenu li.active a:visited {
    text-decoration: none;
    color: #49493D;
}

.tabmenu li.inactive a:link {
    text-decoration: none;
    color: #49493D;
}

.tabmenu li.inactive a:visited {
    text-decoration: none;
    color: #49493D;
}

.tabmenu li.inactive a:hover {
    text-decoration: none;
    color: black;
}

.tabmenu li.inactive:hover {
    background-color: #CBCEAC;
    color: black;
}

div.link {
    font-size: .9em;
}

div.menu-link {
    border-top: white 2px solid;
    margin: 0;
    padding: 0;
}

div.menu-link a {
    font-weight: bold;
    text-decoration: none;
}

div.menu-link a:hover {
    text-decoration: underline;
}

div.menu-link:hover {
    background-color: #ADB583;
}

div.link-level-1 {
    padding: 5px;
    background-color: #CBCEAC;
}

div.link-level-2 {
    padding: 5px;
    padding-left: 1em;
    background-color: #E2E5BF;
}

div.link-level-3 {
    padding: 5px;
    padding-left: 2em;
    background-color: #F1F4CC;
}

div.link-level-1:hover,div.link-level-2:hover,div.link-level-3:hover {
    background-color: transparent;
}

div.current-link {
    background-color: #ADB583;
}

div.category-menu-bar {
    background-color: #DEE2BD;
}

div.panel-title {
    background-color: #DEE2BD;
    padding: 4px;
    margin-bottom: 10px;
}