div.fc-placeholder {

}

div#type-select {
   border-bottom : 1px solid black;
}

div#main-selection {
   margin-top : 140px;
   margin-left : 40px;
}

div#main-selection div {
   float : left;
   text-align : center;
}

div#main-selection span.label {
   font-size : 1.3em;
   font-weight : bold;
}

div#options {
   position : absolute;
   width : 780px;
   border-top : 1px black solid;
   padding-top : 10px;
   top : 550px
   background-color : white;
}

div#folder-selection, div#selection {
   width : 770px;
   height : 415px;
   overflow : auto;
}

a.folder, div.item {
   text-align : center;
   float : left;
   margin : 6px 5px;
}

a.folder:hover, div.item:hover {
   text-decoration : none;
   background-color : #eee;
}

a.folder {
   width : 100px;
   height : 130px;
}


div.item {
   padding-top : 5px;
   /* Compare width to FC_THUMBNAIL_WIDTH */
   width : 140px;
   height : 200px;
}

div#current-folder {
   font-size : 1.3em;
}

div#selection {
   background-repeat : no-repeat;
   background-image : url(folder_back.png);
}

p.fc-options {
     text-align : center;
     clear : both;
}

span#heading {
    font-size : 1.4em;
    font-weight : bold;
}

.alt {
    margin-left : 20px;
}

div#folder-title {
    padding : 3px 0px 3px 10px;
    background-color : #ddd;
}

.highlight {
    background-color : #80B26B;
}

.alt-high img {
    background-color : #80B26B;
    border : 2px solid #80B26B;
}

.no-use img {
    opacity : .2;
}
