<?php $errorclass = (int)($code / 100); ?>

<div class="alert alert-error">
<h1>
<?php if($errorclass == 4): ?>
Client Error
<?php elseif($errorclass == 5): ?>
Server Error
<?php else: ?>
Misclassified Response
<?php endif; ?>
</h1>
<p><strong><?php echo "$code $phrase"; ?></strong></p>
<p>For URL <?php echo $url; ?> method <?php echo $method; ?></p>

<?php
if($backtrace) {
    render_backtrace($backtrace);
}
?>

<?php if($exception): ?>
<p>
    This error was originally caused by an uncaught exception
    "<tt><?php echo $exception->getMessage(); ?></tt>"
    with code <tt><?php echo $exception->getCode(); ?></tt>
    in file <tt><?php echo \Error::xdebugLink($exception->getFile(), $exception->getLine()); ?></tt>
    on line <tt><?php echo $exception->getLine(); ?></tt>.
</p>
<?php render_backtrace($exception->getTrace()); ?>
<?php else: ?>
<p>This error was not caused by an uncaught exception.</p>
<?php endif; ?>

<a href="#">Contact the Webmaster</a>
</div>

<?php
function render_backtrace($backtrace) {
?>
<table class="table">
  <tr>
    <th>Stack Depth</th>
    <th>Line</th>
    <th>File</th>
    <th>Function</th>
    <th>Class</th>
  </tr>
<?php foreach($backtrace as $depth => $trace): ?>
  <tr>
    <td><?php echo $depth; ?></td>
    <td><?php echo isset($trace['line']) ? $trace['line'] : 'N/A'; ?></td>
    <td><?php echo isset($trace['file']) ? \Error::xdebugLink($trace['file'], $trace['line']) : 'N/A'; ?></td>
    <td><?php echo $trace['function']; ?></td>
    <td><?php echo isset($trace['class']) ? $trace['class'] : 'N/A'; ?></td>
  </tr>
<?php endforeach; ?>
</table>
<?php
}
?>
