div.mod-row0 {
    position: relative;
    padding: 5px;
    background-color: #E6E6E6;
}

div.mod-row1 {
    position: relative;
    padding: 5px;
    background-color: #F5F5F5;
}

span.mod-title {
    font-weight: bold;
    min-width: 150px;
}

span.mod-command {
    position: absolute;
    left: 10em;
    width: 9em;
}

span.mod-uninstall {
    position: absolute;
    left: 20em;
    width: 9em;
}

span.mod-about {
    position: absolute;
    left: 30em;
    width: 9em;
}