blockquote.wiki {
    border: 1px solid silver;
    background: #eee;
    margin: 4px;
    padding: 4px 12px;
}

h2.wiki, h3.wiki {
    padding : 10px 0;
}

ul.wiki, ol.wiki {
    padding-left : 25px;
}

table.wiki {
    border-spacing: 0px;
    border: 1px solid gray;
}

th.wiki {
    margin: 1px;
    border: 1px solid silver;
    padding: 4px;
    font-weight: bold;
}

td.wiki {
    margin: 1px;
    border: 1px solid silver;
    padding: 4px;
}

div.wiki div.wiki-menu {
    border-top: 1px solid white;
    margin-top: 8px;
    padding-top: 8px;
}