div#vtour-block1 {
   float : left;
   display : inline;
   margin : 25px 25px 25px 25px;
}

div#vtour-block2 {
    float : right;
    display : inline;
    margin : 25px 25px 25px 25px;
}

div#vtour-block3 {
    float : right;
    display : inline;
    margin : 25px 25px 25px 25px;
}

div#vtour-text1 {
    clear : both;
    display : block;
}

div #vtour-text2 {
    display : block;
    margin: 25px 10px 10px 10px;
}

div#vtour-page {
   background-color : white;
   color : inherit;
   padding : 10px;
   overflow : hidden;
}

div#vtour-page h1 {
   margin-bottom : 1em;
}
