div#document-document {
   margin-top : 10px;
}

div#document-page {
   background-color : white;
   color : inherit;
   overflow : hidden;
}

div#document-page h1 {
   margin-bottom : 1em;
}

div#document-document1 div.fc-download-document {
   width : 100%;           
}