/* ----- This body tag is the default for pop-ups and stuff, via blank.tpl ----- */
body {
    color: #000;
    background-color: #fff;
}

/* ----- This body tag is the default for all other pages, via theme.tpl ----- */
body#mainpage
{
    color: #000;
    background-color: #fff;
}


/* ---------- Main divs ---------- */

#mast
{
	background-color: #cfc;
}

#header
{
    background-color: #683367;
    color: #fff;
}

#top-menu
{
	background-color: #fcf;
	color: #636;
}


/* ----- Use the next two if you want different link colours in the top-menu ----- */
#top-menu a:link, #top-menu a:visited, #top-menu a, #top-menu a:active {
    /*color: #fff;*/
}

#top-menu a:hover
{
	background-color: #ff6;
	color: #000;
}


/* ----- Now the columns ----- */

/* right column background colour */
.threecol {
    background: #eee;
}

/* right column contents background colour */
.col3
{
	background-color: transparent;
}


/* center column background colour */
.threecol .colmid {
    background: #fff;
}

/* center column contents background colour */
.col1
{
	background-color: transparent;
}


/* left column background */
.threecol .colleft
{
	background-color: #CF9;
}

/* left column contents background */
.col2
{
	background-color: transparent;
}


/* ----- lower part of main body area ----- */
#bottom
{
    background-color: #CF9;
    color: #000;
}

/* ----- Now the footer ----- */
#footer
{
    border-color: #CCC;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    background-color: #E6EDD9;
}

/* ----- Use the next two if you want different link colours in the footer ----- */
#footer a:link, #footer a:visited, #footer a, #footer a:active {
    /*color: #fff;*/
}

#footer a:hover{
    /*color: #fff;*/
}



/* ---------- Basic links and h tags ---------- */

a:link, a:visited {
    text-decoration: none;
    background-color: inherit;
    color: #683367;
}

a:hover, a:active {
    text-decoration: underline;
    background-color: inherit;
    color: #000;
}


h1, h2, h3, h4, h5, h6 {
    color: #683367;

}


/* ---------- Block colors ----------- */

.col2 div.box,
.col3 div.box
{
	border: #fff 2px solid;
	background-color: #FFC;
}

.col2 a:link, 
.col2 a:visited, 
.col2 a, 
.col2 a:active 
{
    /*color: #423270;*/
}

.col2 a:hover{
    /*color: #EE442D;*/
}

.col3 a:link, 
.col3 a:visited, 
.col3 a, 
.col3 a:active 
{
    /*color: #423270;*/
}

.col3 a:hover{
    /*color: #EE442D;*/
}

.col2 .box-title, 
.col3 .box-title
{
	background-color: #FC6;
}

.col1 .box-title
{
	background-color: #FC6;
}

.box {
    background-color: transparent;
    color: #000;
}

.box-title {
    background-color: #CDDBB2;
    color: #000;
}

.col1 .box-content {
    background-color: #fff;
    color: #000;
}

.box-title a:link, .box-title a:visited, .box-title a, .box-title a:active {
    /*color: #423270;*/
}

.box-title a:hover{
    /*background-color: #579E8D;
    color: #fff;*/
}

.toggle0 { 
    color: #A03E19; 
    background-color: #DEE2BD; 
    font-weight: bold; 
} 

.toggle1 {
    background-color: #EDF4D1;
    color: black;
}

.toggle2 {
    background-color: white;
    color: black;
}


.bgcolor1 {
    background-color: #CDDBB2;
    color: black;
}

.highlight:hover, .bgcolor2 {
    background-color: #EDF4D1;
    color: black;
}

.bgcolor3 {
    background-color: #579E8D;
    color: black;
}


q {
    background-color: #d6d7ca;
    color: black;
}


th {
    color: #683367;
    background-color: #CDDBB2;
}



/* -------- Form color ---------- 
input, textarea {
    color: #000;
    background-color: #F1F4CC;
    border: #000 solid 1px;
}
*/
input:focus, textarea:focus {
    background-color: #EDEFDB;
    color: black;
}


/*
input[type="submit"], input[type="button"]{
    color: #000;
    background-color: #F1F4CC;
    border: 1px #000 outset;
    cursor: default;
    cursor: pointer;
}
*/


/* ----------- Module specific ----------- */
div.blog div.box {
    border: 2px white solid;
}

div.blog div.read-more {
    border-top: 1px solid white;
    margin-top: 5px;
}

div.category-links {
    padding: 4px;
    background-color: #EDF4D1;
    color: black;
}


/*--------------- Control Panel ---------------*/

div.frame {
    background-color: #BCCAA5;
    color: black;
    border-color: #90996E;
}

div.backgrd {
    border-color: #90996E;
}

ul.tabmenu li a {
    border-color: #90996E;
    border-bottom: none;
    padding-bottom: 1px;
}

ul.tabmenu li.active a {
    border-color: #90996E;
    border-bottom: none;
    padding-bottom: 2px;
}

ul.tabmenu li.inactive {
    background-color: #CDDBB2;
    color: #49493D;
}

ul.tabmenu li.active {
    background-color: #BCCAA5;
    color: #49493D;
}

ul.tabmenu li.active a:visited {
    text-decoration: none;
    background-color: inherit;
    color: #49493D;
}

ul.tabmenu li.inactive a:link {
    text-decoration: none;
    background-color: inherit;
    color: #49493D;
}

ul.tabmenu li.inactive a:visited {
    text-decoration: none;
    background-color: inherit;
    color: #49493D;
}

ul.tabmenu li.inactive a:hover {
    text-decoration: none;
    color: black;
    background-color: inherit;
}

ul.tabmenu li.inactive:hover {
    background-color: #BCCAA5;
    color: black;
}

/*--------------- End Control Panel ---------------*/


/*--------------- Menus ---------------*/

ul.menu-links {
    border-top: #fff 2px solid;
    margin: 0;
    padding: 0;
    font-size: .9em;
    list-style-type : none;
}

ul.menu-links li {
    list-style-type : none;
}

ul.menu-links ul
{
    padding-left : 0px;
}

ul.menu-links li a.menu-link-href {
    font-weight: bold;
    text-decoration: none;
    display: block;
}


div.box ul.menu-links li a.menu-link-href:hover {
    text-decoration: none;
    background-color: #F1F4CC;
    color: black;
}

ul.menu-links li a.menu-link-href {
   padding : 5px;
   background-color: #D3E3BA;
   color: black;
}

ul.menu-links li ul li.link-level-2 a.menu-link-href {
    padding-left: 1em;
    background-color: #E6EDD9;
    color: black;
} 

ul.menu-links li ul li.current-link a.menu-link-href {
    background-color: #fff;
    color: black;
} 

ul.menu-links li.current-link a.menu-link-href {
    background-color: #fff;
    color: black;
}


div.category-menu-bar {
    background-color: #CDDBB2;
    color: black;
}

div.panel-title {
    background-color: #CDDBB2;
    color: black;
    padding: 4px;
    margin-bottom: 10px;
}

ul#navlist li a {
    background-color: #579E8D;
    color: black;
}

div.category-info {
   margin-bottom: 10px;                  
}

div.breadcrumb span.current-bc {
   font-size: 1.1em;
   font-weight: bold;
}

/*--------------- End Menus ---------------*/


/*---- Notes ---- */

.note-not-read {
   font-weight: bold;
}


/*---- PageSmith ----*/
div#simple-page
{
    background-color: transparent;
    color: inherit;
    margin: 0px;
    padding: 0px;
}

div#simple-page h1 {
   margin-bottom: 0em;
}

div.horzontal-menu ul li div {
   background-color: #EBEDD1;
}


/*---- Blog ----*/
.posted-by, .posted-on
{
    font-size: 0.8em;
    color: #88A3B7;
}

.hentry
{
    font-size: 0.9em;
}


/*---- RSS ----*/
ul.rss-sidelist
{
    margin: 1em;
    padding: 0;
    list-style-type: circle;
}

ul.rss-sidelist li
{
    margin-bottom: 0.5em;
}

/*---- Rolodex ----*/
.rolodex-alphalist
{
    font-size: 0.8em;
}

#rolodex_member
{
    font-size: 0.85em;
}

/*---- Ads ----*/
.ads-zone .box .box-title
{
    display: none;
}

