/* --------- Layout and positioning ------------ */

#mast {
    clear: both;
    float: left;
    width: 100%;
}

#header {
    clear: both;
    float: left;
    width: 100%;
}

#top-menu {
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

/* column container */
.colmask {
    position: relative;     /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;            /* width of whole page */
    overflow: hidden;       /* This chops off any overhanging divs */
}

/* common column settings */
.colright,
.colmid,
.colleft {
    float: left;
    width: 100%;            /* width of page */
    position: relative;
}

.col1,
.col2,
.col3 {
    float: left;
    position: relative;
    padding: .5em 0 1em 0;    /* no left and right padding on columns, we just make them narrower instead 
                            only padding top and bottom is included here, make it whatever value you need */
    overflow:hidden;
}

/* 3 Column settings */
/* ---  A note about column widths  --- */
/* the values marked org will give a layout of 25% 50% 25% with 2% padding left and right of all 3 cols */
/* the values marked new will give a layout of 20% 60% 20% with 1% padding left and right of all 3 cols */

.threecol .colmid {
    right:20%;              /* width of the right column */
                            /* org = 25% */  
                            /* new = 20% */
}

.threecol .colleft {
    right:60%;              /* width of the middle column */
                            /* org = 50% */  
                            /* new = 60% */
}

.threecol .col1 {
    width:58%;              /* width of center column content (column width minus padding on either side) */
                            /* org = 46% */  
                            /* new = 58% */
    left:101%;              /* 100% plus left padding of center column */
                            /* org = 102% */  
                            /* new = 101% */
}

.threecol .col2 {
    width:18%;              /* Width of left column content (column width minus padding on either side) */
                            /* org = 21% */  
                            /* new = 18% */
    left:23%;               /* width of (right column) plus (center column left and right padding) plus (left column left padding) */
                            /* width of (25) plus (2+2) plus (2) */
                            /* org = 31% */  
                            /* width of (20) plus (1+1) plus (1) */
                            /* new = 23% */
}

.threecol .col3 {
    width:18%;              /* Width of right column content (column width minus padding on either side) */
                            /* org = 21% */  
                            /* new = 18% */
    left:85%;               /* Please make note of the brackets here:
                            (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
                            /* width of (75) plus (2+2) plus (4) plus (2) */
                            /* org = 85% */  
                            /* width of (80) plus (1+1) plus (2) plus (1) */
                            /* new = 85% */
}

#footer {
    clear:both;
    float:left;
    width: 100%;
}

div.block-embedded {
    width: 200px;
}

#miniadmin div.box-content {
   font-size: .9em;
   max-height: 180px;
   overflow: auto;
}

div.horizonal-menu {
   position: absolute;
}
