#body-content ul.nav-tabs {
    margin : 0px;
    margin-bottom : 1em;
    padding-bottom : 4px;
    border-bottom : 1px solid black;
}
#body-content ul.nav-tabs li {
    display : inline;
}

#body-content ul.nav-tabs li.active a {
    background-color : #DAE3DE;
    color : black;
}

#body-content ul.nav-tabs li.inactive a {
    color : gray;
}

#body-content ul.nav-tabs li a {
    min-width : 100px;
    border-left : 1px solid black;
    border-top : 1px solid black;
    border-right : 1px solid black;
    padding : 4px 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.media {
    float : left;
    width : 160px;
    height : 150px;
    margin-right : 20px;
    margin-bottom : 20px;
}

ul.miniadmin-content {
    padding : 5px 5px;
}
ul.miniadmin-content li {
    list-style-type: none;
    margin-top : 5px;
}
ul.miniadmin-content li a {
    margin-left : 10px;
    font-weight : normal;
}

ul.miniadmin-content li.nav-header {
    font-weight : bold;
    font-size : 120%;
    border-bottom : 1px solid white;
    margin-top : 5px;
}