body {
    font-size: 12pt;
}

input,div.read-more,#sidepanel,#header,p.pagesmith-btt-link {
    display: none;
}

#main-content,#container {
    border: none;
    margin: 0px;
    padding: 0px;
}

h2,h3,h4,h2 a:link,h2 a:visited,h2 a:hover {
    color: black;
    margin: 0px;
}

h2 {
    margin-bottom: 6pt;
}

body,h2 {
    font-family: Times, serif;
}