/* --------- Layout and positioning ------------ */

#mast {
    clear: both;
    float: left;
    width: 100%;
}

#header {
    clear: both;
    float: left;
    width: 100%;
}

#top-menu {
    clear: both;
    float: left;
    width: 100%;
}

/* column container */
.colmask {
    position: relative;     /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;            /* width of whole page */
    overflow: hidden;       /* This chops off any overhanging divs */
}

/* common column settings */
.colright,
.colmid,
.colleft {
    float: left;
    width: 100%;            /* width of page */
    position: relative;
}

.col1,
.col2,
.col3 {
    float: left;
    position: relative;
    padding: .5em 0 1em 0;    /* no left and right padding on columns, we just make them narrower instead 
                            only padding top and bottom is included here, make it whatever value you need */
    overflow:hidden;
}


/* 2 Column (left menu) settings */

.leftmenu {
/*    background:#fff;		/* right column background colour */
}

.leftmenu .colleft {
    right:75%;			    /* right column width */
/*    background:#f4f4f4;	    /* left column background colour */
}

.leftmenu .col1 {
    width:71%;			    /* right column content width */
    left:102%;			    /* 100% plus left column left padding */
}

.leftmenu .col2 {
    width:21%;			    /* left column content width (column width minus left and right padding) */
    left:6%;			    /* (right column left and right padding) plus (left column left padding) */
}



#footer {
    clear:both;
    float:left;
    width: 100%;
}

div.block-embedded {
    width: 200px;
}

#miniadmin div.box-content {
   font-size: .9em;
   max-height: 180px;
   overflow: auto;
}

div.horizonal-menu {
   position: absolute;
}
