body {
     font-size : 12pt;
}

input, div.read-more, .col2, .col3, #top-menu, div.category-links, #banners {
    display : none;
}

#col1 {
    border : none;
    margin : 0px;
    padding : 0px;
}

h1, h2, h3, h1 a:link, h1 a:visited, h1 a:hover {
    color : black;
    margin : 0px;
}

h1 {
    margin-bottom : 6pt;
}

body, h1 {
     font-family : Times, serif;
}

