div#alert-contact-needed {
    border: 1px solid black;
    padding: 0px 5px 5px 5px;
}

div#alert-contact-needed table td {
    padding: 0px 8px;
}

div.alert-image {
    float: right;
    margin: 0px 0px 10px 10px;
    display: inline;
}