

#clipboard-view textarea {
   width : 95%;
   min-height : 370px;
}

ul#view-pick {
   margin : 0px 0px 10px 0px;
   padding : 0px;
}

ul#view-pick li {
   display : inline;
   background-color :#E1E1E1;
   padding : 4px;
   margin : 2px;
   border : 1px solid black;
}