.comments .page-select {
    padding : 5px;
}


.comments posted-info {
    font-size : .8em;
}


.comments .entry {
    padding : 5px;
    margin-bottom : 5px;
    border-top : 1px gray dotted;
}

.comments .edit-info {
    font-size : .8em;
}

.comments .admin-links {
    float : right;
    text-align : right;
}

.comments .author-info {
    width : 160px;
    padding : 4px;
}

.comment-body {
    padding : 5px;
}

.comment-header {
}

.comment-table {
    margin-bottom : 20px;
    width : 95%;
}

.comments .signature {
    padding-top : 6px;
    border-top : 1px gray solid;
    margin-top : 1em;
}

.comments .avatar {
    text-align : left;
    margin-right : 5px
}


.comment_edit_link, .comment_delete_link, .comment_report_link,
.comment_fork_link, .comment_reply_link, .comment_quote_link, .comment_postnew_link,
.comment_punish_link,
.comment_supermod_icon, .comment_activemod_icon, .comment_inactivemod_icon
{
    display: block;
    background-repeat: no-repeat;
    background-position: 100%;
}


a.comment_postnew_link, .comment-body .admin-links a {
    display:block;
    float:left;
    margin: 0 .5em;
    border : 1px solid black;
    text-align : center;
    padding : 2px 5px;
    min-width : 60px;
    background-color : #bbb;
    color : white;
    text-decoration : none;
    font-weight : bold;
    font-size : 10px;
}


.comment_postnew_link:hover, .comment-body .admin-links a:hover {
    background-color : #cacaca;
    text-decoration : none;
}

a.comment_delete_link {
    float :left;
    width: 20px;
    height: 20px;
    background-image: url(../../images/mod/comments/cancel.png);
    margin: 0 .5em;
}
a.comment_delete_link:hover {
    background-color: #00ff00;
}
a.comment_delete_link span { display: none; }

a.comment_report_link {
    float :left;
    width: 16px;
    height: 16px;
    background-image: url(../../images/mod/comments/report.png);
    margin: 0 .5em;
}
a.comment_report_link:hover {
   background-color: #00ff00;
}
a.comment_report_link span { display: none; }

a.comment_fork_link {
    float :left;
    width: 16px;
    height: 16px;
    background-image: url(../../images/mod/comments/fork.png);
    margin: 0 .5em;
}
a.comment_fork_link:hover {
    background-color: #00ff00;
}
a.comment_fork_link span { display: none; }

a.comment_punish_link {
    float :left;
    width: 20px;
    height: 20px;
    background-image: url(../../images/mod/comments/noentry.png);
    margin: 0 .5em;
}
a.comment_punish_link:hover {
 background-color: #00ff00;
}
a.comment_punish_link span { display: none; }

.comment_supermod_icon {
    width: 105px;
    height: 21px;
    background-image: url(../../images/mod/comments/Global-Mod.gif);
    margin : 0;
}
.comment_supermod_icon span { display: none; }

.comment_activemod_icon {
    width: 105px;
    height: 21px;
    background-image: url(../../images/mod/comments/Moderator.gif);
    margin : 0;
}
.comment_activemod_icon span { display: none; }

.comment_inactivemod_icon {
    width: 105px;
    height: 21px;
    background-image: url(../../images/mod/comments/Support-staff.gif);
    margin : 0;
}
.comment_inactivemod_icon span { display: none; }