.comments .page-select {
    padding: 5px;
}

.comments posted-info {
    font-size: .8em;
}

.comments .entry {
    padding: 5px;
    margin-bottom: 5px;
    border-top: 1px gray dotted;
}

.comments .edit-info {
    font-size: .8em;
}

.comments .admin-links {
    float: right;
    text-align: right;
}

.comments .author-info {
    width: 160px;
    padding: 4px;
}

.comment-body {
    padding: 5px;
}

.comment-header {
    
}

.comment-header img {
    margin: 0 .5em;
}

.comment-table {
    margin-bottom: 20px;
    width: 95%;
}

.comments .signature {
    padding-top: 6px;
    border-top: 1px gray solid;
    margin-top: 1em;
}

.comments .avatar {
    text-align: left;
    margin-right: 5px
}

.comment-punish {
    position: relative;
}

.comment-punish-list {
    width: 150px;
    background-color: white;
    color: black;
    padding: 4px;
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
