<ul class="nav nav-tabs" style="margin-top:1em">
    <li role="presentation" class="contact-info-tab contact-tab"><a style="cursor:pointer">Contact information</a></li>
    <li role="presentation" class="map-tab contact-tab"><a style="cursor:pointer">Mapping</a></li>
    <li role="presentation" class="social-tab contact-tab"><a style="cursor:pointer">Social icons</a></li>
</ul>
<div class="contact-info-section contact-section">
    <form action="./contact/admin/contactinfo" method="post" class="phpws-form">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>On Campus</legend>
                    <div class="form-group">
                        <label for="building">Building <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="building" required id="building" type="text" class="form-control" value="<?=$building?>" />
                    </div>
                    <div class="form-group">
                        <label for="room-number">Room number</label>
                        <input name="room_number" id="room-number" type="text" class="form-control"  value="<?=$room_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Voice phone number <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="phone-number" type="tel" name="phone_number" class="form-control" placeholder="XXX-XXX-XXXX" value="<?=$phone_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="fax-number">Fax number</label>
                        <input id="fax-number" name="fax_number" type="tel" class="form-control" placeholder="XXX-XXX-XXXX" value="<?=$fax_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email address <small>(note: you may use a social icon as well/instead)</small></label>
                        <input id="email-address" name="email" type="email" class="form-control" value="<?=$email?>" />
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Mailing address</legend>
                    <div class="form-group">
                        <label for="post_box">Post box</label>
                        <input id="post-box" name="post_box" type="text" class="form-control"  value="<?=$post_box?>" />
                    </div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input id="street" name="street" type="text" class="form-control"  value="<?=$street?>" />
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" name="city" type="text" class="form-control"  value="<?=$city?>" />
                    </div>
                    <div class="form-group">
                        <label for="state">State</label> <small>(Not shown if city absent)</small>
                        <select id="state" name="state" class="form-control">
                            <?php foreach ($states as $abbr=>$full):
                            $selected = ($abbr == $state) ? 'selected="selected"' : null;
                            ?><option value="<?=$abbr?>"<?=$selected?>><?=$full?></option><?php endforeach; ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        <input id="zip" name="zip" type="text" class="form-control" value="<?=$zip?>" />
                    </div>
                </fieldset>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Save Contact Info" />
    </form>
</div>
<div class="map-section contact-section">
    <div id="map-error" class="alert alert-danger" style="display:none"><strong>Error:</strong> <span class="message"></span></div>
    <div class="map-image"><?=$thumbnail_map?></div>
    <div style="margin-bottom:1em"><button class="btn btn-primary grab-thumbnail">Create new thumbnail</button></div>
    <form method="post" action="contact/admin/saveThumbnail">
        <input id="latitude" type="hidden" name="latitude" value="" />
        <input id="longitude" type="hidden" name="longitude" value="" />
    </form>
    <button class="btn btn-success save-thumbnail" style="display:none">Save thumbnail</button>
</div>
<div class="social-section contact-section">
    <div class="row">
        <div class="col-sm-4" style="border-right : 1px solid #e3e3e3">
            <?php if (is_array($social)) { ?>
            <ul class="nav nav-pills nav-stacked" style="margin-top:1em">
                <?php foreach ($social as $label=>$social_row):extract($social_row);?>
                <li role="presentation" data-label="<?=$label?>" class="social-pick-tab">
                    <a style="cursor:pointer"><?=$title?></a>
                </li>
                <?php endforeach;?>
            </ul>
            <?php } else { echo 'Error: No social links found.'; } ?>
        </div>
        <div class="col-sm-8" >
            <div class="social-success alert alert-success alert-dismissible" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Social link saved!
            </div>
            <div class="alert alert-success" style="display:none"></div>
            <div id="social-icon"></div>
            <div class="form-group">
                <label for="social-url">Address</label>
                <input id="social-title" type="hidden" value="" />
                <div class="input-group">
                    <div id="social-prefix" class="input-group-addon"></div>
                    <input id="social-url" type="text" class="form-control" name="social_url" value="" placeholder="Type or paste in web address, phone number, email address, etc." />
                </div>
                <button style="margin-top:1em" class="btn btn-primary" id="save-social-link"><i class='fa fa-save'></i> Save social link</button>

            </div>
        </div>
    </div>

</div>