<ul class="nav nav-tabs" style="margin-top:1em">
    <li role="presentation" class="contact-info-tab contact-tab"><a style="cursor:pointer">Contact information</a></li>
    <li role="presentation" class="map-tab contact-tab"><a style="cursor:pointer">Mapping</a></li>
    <li role="presentation" class="social-tab contact-tab"><a style="cursor:pointer">Social icons</a></li>
</ul>
<div class="contact-info-section contact-section">
    <?php if (isset($message)) : ?>
    <div class='alert alert-info'><?php echo $message ?></div>
    <?php endif; ?>

    <form action="./contact/admin/contactinfo" method="post" class="phpws-form">
        <input class="btn btn-primary btn-lg" type="submit" style="margin:1em 0" value="Save Contact Info" />
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>On Campus</legend>
                    <div class="form-group">
                        <label for="building">Building <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="building" required id="building" type="text" class="form-control" value="<?php echo $building?>" />
                    </div>
                    <div class="form-group">
                        <label for="room-number">Room number</label> <small>(Numbers only)</small>
                        <input name="room_number" id="room-number" type="text" class="form-control"  value="<?php echo $room_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Voice phone number</label>
                        <input id="phone-number" type="tel" name="phone_number" class="form-control" placeholder="XXX-XXX-XXXX" value="<?php echo $phone_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="fax-number">Fax number</label>
                        <input id="fax-number" name="fax_number" type="tel" class="form-control" placeholder="XXX-XXX-XXXX" value="<?php echo $fax_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label><br /><small>(note: you may use a social icon as well/instead)</small>
                        <input id="email-address" name="email" type="email" class="form-control" value="<?php echo $email?>" />
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Mailing address</legend>
                    <div class="form-group">
                        <label for="post_box">Post box</label> <small>(Numbers only)</small>
                        <input id="post-box" name="post_box" type="text" class="form-control"  value="<?php echo $post_box?>" />
                    </div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input id="street" name="street" type="text" class="form-control"  value="<?php echo $street?>" />
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" name="city" type="text" class="form-control"  value="<?php echo $city?>" />
                    </div>
                    <div class="form-group">
                        <label for="state">State</label> <small>(Not shown if city absent)</small>
                        <select id="state" name="state" class="form-control">
                            <?php foreach ($states as $abbr=>$full):
                            $selected = ($abbr == $state) ? 'selected="selected"' : null;
                            ?><option value="<?php echo $abbr?>"<?php echo $selected?>><?php echo $full?></option><?php endforeach; ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        <input id="zip" name="zip" type="text" class="form-control" value="<?php echo $zip?>" />
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset><legend>Other information <i class="text-muted fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Extra phone numbers, hours of operation, etc. "></i></legend>
            <textarea id="other-information" name="other_information" class="form-control"><?php echo $other_information?></textarea>
        </fieldset>
        <fieldset style="margin-top:1em"><legend>Site contact <i class="text-muted fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Data entered below appears in its own block."></i></legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="site-contact-name">Name</label>
                        <input id="site-contact-name" name="site_contact_name" class="form-control" value="<?php echo $site_contact_name?>"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="site-contact-email">Email address</label>
                        <input id="site-contact-email" name="site_contact_email" class="form-control" value="<?php echo $site_contact_email?>"/>
                    </div>
                </div>
            </div>
        </fieldset>
        <input class="btn btn-primary btn-lg" type="submit" style="margin-top:1em" value="Save Contact Info" />
    </form>
</div>
<div class="map-section contact-section">
    <div id="map-error" class="alert alert-danger" style="display:none"><strong>Error:</strong> <span class="message"></span></div>
    <div class="map-image"><?php echo $thumbnail_map?></div>
    <div style="margin-bottom:1em"><button class="btn btn-primary grab-thumbnail">Create new thumbnail</button></div>
    <form method="post" action="contact/admin/saveThumbnail">
        <input id="latitude" type="hidden" name="latitude" value="" />
        <input id="longitude" type="hidden" name="longitude" value="" />
    </form>
    <button class="btn btn-success save-thumbnail" style="display:none">Save thumbnail</button>
</div>
<div class="social-section contact-section">
    <div class="row">
        <div class="col-sm-4" style="border-right : 1px solid #e3e3e3">
            <?php if (is_array($social)) { ?>
            <ul class="nav nav-pills nav-stacked" style="margin-top:1em">
                <?php foreach ($social as $label=>$social_row):extract($social_row);?>
                <li role="presentation" data-label="<?php echo $label?>" class="social-pick-tab">
                    <a style="cursor:pointer"><?php echo $title?></a>
                </li>
                <?php endforeach;?>
            </ul>
            <?php } else { echo 'Error: No social links found.'; } ?>
        </div>
        <div class="col-sm-8" >
            <div class="social-success alert alert-success alert-dismissible" role="alert" style="display:none">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Social link saved!
            </div>
            <div class="alert alert-success" style="display:none"></div>
            <div id="social-icon"></div>
            <div class="form-group">
                <label for="social-url">Address</label>
                <input id="social-title" type="hidden" value="" />
                <div class="input-group">
                    <div id="social-prefix" class="input-group-addon"></div>
                    <input id="social-url" type="text" class="form-control" name="social_url" value="" placeholder="Type or paste in web address, phone number, email address, etc." />
                </div>
                <div style="margin-top:1em">
                    <button class="btn btn-primary" id="save-social-link"><i class='fa fa-save'></i> Save social link</button>
                    <button class="btn btn-success" id="clear-social-link"><i class='fa fa-eraser'></i> Clear link</button>
                </div>

            </div>
        </div>
    </div>

</div>