<script>var active_tab = '<?=$active_tab?>';</script>
<ul class="nav nav-tabs" style="margin-top:1em">
    <li role="presentation" class="contact-info-tab contact-tab"><a style="cursor:pointer">Contact information</a></li>
    <li role="presentation" class="map-tab contact-tab"><a style="cursor:pointer">Mapping</a></li>
    <li role="presentation" class="social-tab contact-tab"><a style="cursor:pointer">Social icons</a></li>
</ul>
<div class="contact-info-section contact-section">
    <form action="./contact/admin/contactinfo" method="post" class="phpws-form">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>On Campus</legend>
                    <div class="form-group">
                        <label for="building">Building <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input name="building" required id="building" type="text" class="form-control" value="<?=$building?>" />
                    </div>
                    <div class="form-group">
                        <label for="room-number">Room number</label>
                        <input name="room_number" id="room-number" type="text" class="form-control"  value="<?=$room_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Voice phone number <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="phone-number" type="tel" name="phone_number" class="form-control" placeholder="XXX-XXX-XXXX" value="<?=$phone_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="fax-number">Fax number</label>
                        <input id="fax-number" name="fax_number" type="tel" class="form-control" placeholder="XXX-XXX-XXXX" value="<?=$fax_number?>" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email address <i title="Required input" class="required fa fa-asterisk"></i></label>
                        <input required id="email-address" name="email" type="email" class="form-control" value="<?=$email?>" />
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Mailing address</legend>
                    <div class="form-group">
                        <label for="post_box">Post box</label>
                        <input id="post-box" name="post_box" type="text" class="form-control"  value="<?=$post_box?>" />
                    </div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input id="street" name="street" type="text" class="form-control"  value="<?=$street?>" />
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" name="city" type="text" class="form-control"  value="<?=$city?>" />
                    </div>
                    <div class="form-group">
                        <label for="state">State</label> <small>(Not shown if city absent)</small>
                        <select id="state" name="state" class="form-control">
                            <?php foreach ($states as $abbr=>$full):
                            $selected = ($abbr == $state) ? 'selected="selected"' : null;
                            ?><option value="<?=$abbr?>"<?=$selected?>><?=$full?></option><?php endforeach; ?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        <input id="zip" name="zip" type="text" class="form-control" value="<?=$zip?>" />
                    </div>
                </fieldset>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Save Contact Info" />
    </form>
</div>
<div class="map-section contact-section">
    <div class="map-image">
    </div>
    <button class="btn btn-primary grab-thumbnail">Create new thumbnail</button>
    <form method="post" action="contact/admin/saveThumbnail">
        <input id="google-lat-long" type="hidden" name="google_lat_long" value="" />
        <input type="submit" class="btn btn-success save-thumbnail" value="Save thumbnail" />
    </form>
</div>
<div class="social-section contact-section">
    SOCIAL!
</div>