div#start-location {
   float : left;
   display : inline;
   margin-right : 3em;
}

form#rideboard-form label {
   font-weight : bold;
   line-height : 1.5em;
}

form#rideboard-form p.radio-buttons label {
   font-weight : normal;
}

form#rideboard-form br:after {
   margin-bottom : 1em;
}
