#box-settings {
	width : 98%;
}

#box-settings div.option {
	align : right;
	position : relative;
	display : inline;
	left : 70%;
}

#box-settings div.setting {
	align : left;
	margin-top : 5px;
	padding : 2px;
}

div.lo-message {
	font-style : italic;
	border-bottom : 1px grey dotted;
}

div.move-box {
	font-size : .8em;
}

div.move-box select, input {
	font-size : .8em;
}
