<html>
<head>
<title>About: Layout</title>
<link rel="stylesheet" type="text/css" href="themes/default/style.css" />
<link rel="stylesheet" type="text/css" href="themes/default/default.css" />
</head>
<body class="padded">
<h1>Layout</h1>
<h3>By Matthew McNaney</h3>
<p>Layout controls the display of phpWebSite. Developers use the
Layout libraries to post content. Admins use Layout to alter meta tags,
set the current theme, or move content areas. phpWebSite uses Layout
internally to control style sheets, check for javascript, and other
functions.</p>
<p>In other words, Layout is integral to the functioning of
phpWebSite.</p>
<p class="align-center padded"><input type="button"
    onclick="window.close()" value="Close"
/></p>
</body>
</html>
