td.twothirds-col1 {
    width: 66%;
    padding : 0px 15px;
}
td.twothirds-col2 {
    width: 33%;
    padding : 0px 15px;
    font-size : .9em;
}

td.twothirds-col1 h2, td.twothirds-col2 h3 {
    margin-bottom: 1em;
    font-size : 14px;
    font-weight : normal;
    margin : 0px;
    padding : 0px;
    text-transform : none;
    background-color : #e3e3e3;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding : 5px 8px;
}

td.twothirds-col1 img {
    float : left;
    margin : 0px 6px 6px 0px;
}

div.twothirds {
    padding :0px 6px;
}