div#cookie-menu {
    height: 30px;
    margin-bottom: 20px;
    position: relative;
}

div#cookie-menu ul {
    margin: 0px;
}

div#cookie-menu ul li {
    position: relative;
    display: inline;
    float: left;
    margin-right: 3px;
}

div#cookie-menu ul li a {
    width: 120px;
    height: 30px;
    font-size: 12px;
    display: block;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
}

div#cookie-menu ul li ul {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 32px;
    left: 0px;
}

div#cookie-menu ul li ul li a {
    border: 1px solid black;
}

div#cookie-menu ul li:hover ul {
    display: block;
}

div#category-select {
    padding: 3px;
}

div#category-select,div#category-select input,div#category-select select
    {
    font-size: 90%;
}

div#category-select h3 {
    margin: 0px;
    padding: 0px;
}

div#category-select div#quick-add {
    background-color: #e3e3e3;
    margin: 2px;
    padding: 2px;
}