td.twocol-banner-col1 {
    width: 50%;
}
td.twocol-banner-col2 {
    width: 50%;
}

td.twocol-banner-col1 h1, td.twocol-banner-col2 h2 {
    margin-bottom: 1em;
    font-size : 14px;
    font-weight : normal;
    padding : 0px;
    text-transform : none;
    background-color : #e3e3e3;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding : 5px 8px;
}

div.twocol-banner {
    width : 85%;
    margin-left : 10px;
}

div#twocol-banner-page h1#twocol-banner-page-title {
    margin : 0px;
    width : 90%;
}

div#twocol-banner-page h2#twocol-banner-header1 {
    margin : 0px;
    width : 90%;
}