/* ---------- Containers ----------- */
div.controlpanel {
    padding : 10px;
}

.frame {
    margin : 3px 5px 0px 0px;
    background-color: #BFBFBF;
    padding: 5px;
    border : 2px solid black;
    width : 98%;
    overflow : auto;
}


.frame .backgrd {
    margin : 0px;
    background-color : white;
    padding : 2px 3px 2px 5px;
    border-left : 2px solid #696969;
    border-top : 2px solid #696969;
    overflow : auto;
}



/*--------------- Tabs ---------------*/
.tabmenu li {
    padding: 5px 5px 4px 5px;
    display: inline;
    list-style-type: none;
    border : 2px solid black;
    font-size: 0.8em;
    margin-right : 4px;
}


.tabmenu li.active {
    color : white;
    background-color : #BFBFBF;
    border-bottom : none;
    z-index : 2;
    padding-bottom : 6px;
}

.tabmenu li.active a:link,
.tabmenu li.active a:visited  {
    text-decoration: none;
    color : black;
}

.tabmenu li.inactive {
    background-color : #E9E9E9;
}

.tabmenu li.inactive:hover {
    background: #F0F0F0;
    color: white;
}


.tabmenu li.inactive a:link,
.tabmenu li.inactive a:visited { 
    text-decoration: none; 
    color: black;
}


/*--------------- Links -----------------*/

div.link {
    font-size : .8em;
    margin : 5px;
    padding : 5px;
    float : left;
    width : 150px;
    height : 90px;
    display : inline;
}

div.link img {
    float : left;
    margin-right : .5em;
    margin-bottom : 20%;
    display : inline;
}

div.link a{
    font-size : .9em;
    font-weight : bold;
}

