<div class="pager-listing" id="purge-list" data-rpp="10" data-pager-url="index.php?module=pagesmith&aop=purge_listing">
    <div style="text-align:right" class="pager-search"></div>
    <table class="table table-striped sans">
        <thead class="pager-head">
            <tr>
                <th>&nbsp;</th>
                <th class="pager-header title"></th>
                <th class="pager-header last_updated"></th>
            </tr>
        </thead>
        <tbody class="pager-body">
            <tr class="pager-row">
                <td class="pager-column option"></td>
                <td class="pager-column title"></td>
                <td class="pager-column last_updated"></td>
            </tr>
        </tbody>
    </table>
    <div id="page-list" class="pagination pagination-centered"></div>
</div>