div#pick-templates div.ps-tpl {
    text-align : center;
    display : inline;
    float : left;
    width : 180px;
    margin-left : 10px;
}

div#pick-templates img {
    border : 1px black solid;
    margin-right : 10px;
    width : 170px;
    height : 200px;
}

div.tpl-folder {
    float : left;
    display : inline;
    width : 130px;
    text-align : center;
}