img.carousel-next:hover,
img.carousel-prev:hover {
    cursor : pointer;
}


.carousel-vert {
    background-color : #F0F6F9;
    padding : 4px;
    width : 100px;
    text-align : center;
}

.carousel-horz {
    padding : 4px;
}

.carousel-horz table {
    background-color : #F0F6F9;
}

.carousel-vert .carousel-slides li {
    margin-bottom: 5px;
    background-color : white;
}

.carousel-horz .carousel-slides li {
    margin-right: 5px;
    background-color : white;
}

.carousel-slides li img {
    display : block;
}
