div#oneCol-twoCol-image1 {
	margin: 0px;
}

div#oneCol-twoCol-image2 {
	margin: 0px;
}

div#oneCol-twoCol-page h1 {
	margin : 0px 0px 1em 0px;
}

table.oneCol-twoCol-table td {
	width: 50%;
	vertical-align: top;
}
