td.foursquare-col {
    width: 50%;
    padding : 15px;
}

td.foursquare-col h2 {
    margin-bottom: 1em;
    font-size : 14px;
    font-weight : normal;
    margin : 0px;
    padding : 0px;
    text-transform : none;
}

td.foursquare-col h2 a {
    border-bottom : 1px solid #ccc;
}

td.foursquare-col img {
    float : right;
    margin : 0px 0px 6px 6px;
    padding : 3px;
    border : 1px solid #ccc;
}