html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family : sans-serif;
    font-size : .8em;
}


/* ---------- Headers ----------- */

h1, h2, h3 {
    font-family: "Trebuchet MS", Verdana, serif;    
    margin: 0;
    padding : 0;
}

h1 {
    font-size :  1.2em;
    font-style : italic;
}

h2 {
    font-size :  1.0em;
}

h3 {
    font-size :  .9em;

}


/* ---------- Tags ---------- */

strong {
    font-weight : bold;
}

q {
    display : block;
    padding : 5px;
    font-size : 90%;
}

ul {
    margin : 0;
    padding : 0;
    padding-left : 8px;
}

p {
    margin : 2px;
}

img {
    border-style : none;
}

img.float-left {
    float : left;
    margin-right : 10px;
}

img.float-right {
    float : right;
    margin-left : 10px;
}

blockquote {
    border-top : 1px solid #fff;
    border-bottom : 1px solid #fff;
}

fieldset {
    margin : 10px;
    padding : 10px;
}

legend {
    font-style : italic;
    font-size : 110%;
}

/* ----------- Form styles ----------- */

form {
     margin : 0;
     padding : 0;
}

input, textarea {
    font-family : inherit;
    font-size : 9pt;
    padding : 1px 2px;
}

select[multiple="multiple"] {
    padding : 1px 2px 1px 2px;
}

ul.no-bullet {
   list-style-type : none;
}


/* ------------- Table ------------- */

table {
      border-collapse : collapse;
}

th {
    font-weight : bold;
    font-family : "Trebuchet MS", Verdana, serif;
    text-align : left;
}


/* ---------- Classes ---------- */
.spoiler {
    background-color : black;
    color : black;
}

.error {
    color : #cf2626;
    font-weight : bold;
}


table.form-table {
    margin : 4px;
}

table.form-table td {
    padding : 4px;
    vertical-align : top;
}

table.form-table label {
    font-weight : bold;
    margin-right : 20px;
}

.clear {
    clear : both;
}

.padded {
   padding : 4px;
}

.smaller {
   font-size : smaller;
}

.larger {
   font-size : larger;
}

.align-center {
   text-align : center;
}

.align-right {
   text-align : right;
}

.align-left {
   text-align : left;
}

/* ---------------- Box definitions -------------- */

.box {
    margin-bottom : 10px;
}

.box-title, .box-content {
    padding : 8px;

}
