body {
	color: #000;
	background-color : #898DD0;
}


#container {
	background-color: #4A77BB;
}


#header {
	background-color : #ADB583;
}

#sidepanel div.box {
    border : white 2px solid;
}

.toggle1 {
	background-color : #EDF4D1;
}

.toggle2 {
	background-color : white;
}

.bgcolor1 {
	background-color : #95adef;
}

.bgcolor2 {
	background-color : #bbc9ef;
}


a:link, a:visited {
	color: #000;
}

a:hover, a:active {
	color: #A03E19;
}


h1, h2, h3 {
	color: black;
}



th {
	color: #A03E19;
	background-color : #DFE3BA;
}

#sidepanel div.box {
	border : white 2px solid;
}

div.box a:link, div.box a:visited {
	color: #42443A;
}
div.box a:hover, div.box a:active {
	color: #42443A;
}

#top-menu {
	background-color : #fff;
}

#top-menu a:hover{
background-color : #ADB583;
color : black;
}

div.blog div.box {
	background-color : #A9BBEF;
	border : 2px white solid;
}


input {
color: #fff;
background: #4A77BB;
border: #000 solid 1px;
}

textarea {
color: #fff;
background: #4A77BB;
border: #000 solid 1px;
}

input[type="submit"] {
color: #fff;
background: #4A77BB;
border: 1px #000 outset;
cursor : default;
cursor : pointer;
}


/*-----------Control Panel --------------*/
.frame {
 background-color: #92B4DE;
 border-color : white; 
}

.backgrd {
border-left-color:#7B95B4;
border-top-color: #7B95B4;
}

.tabmenu li {
border-color : white;
}

.tabmenu li.inactive {
 background-color : #CBDFEB;
}

.tabmenu li.active {
 color : white;
background-color : #92B4DE;
}

.tabmenu li.active a:visited {
 color: #2D3D55;
}

.tabmenu li.inactive a:link {
 color: #3A5574;
}

.tabmenu li.inactive a:visited {
 color: #2D3D55;
}

.tabmenu li.inactive a:hover {
 background-color: #9FC5EF;
 color: white;
}

.tabmenu li.inactive:hover {
background-color : #CBCEAC;
color: black;
}

div.menu-link {
border-top : white 2px solid;
margin : 0;
padding : 0;
}


div.menu-link a {
font-weight : bold;
text-decoration : none;
}

div.menu-link {
background-color : white;
}

div.link-level-1 {
padding : 5px;
background-color : #A9BBEF;
}

div.link-level-2 {
padding : 5px;
padding-left : 1em;
background-color : #CFD8F2;
}

div.link-level-3 {
padding : 5px;
padding-left : 2em;
background-color : #D5DEF9;
}

div.link-level-1:hover,
div.link-level-2:hover,
div.link-level-3:hover {
background-color : transparent;
}

div.current-link {
   background-color : #4A77BB;
}

div.panel-title {
   background-color : #bbc9ef;
   padding : 4px;
   margin-bottom : 10px;
}
