body {
    color: #000;
    background-color : #DFE3BA;
}

/* ---------- Block colors ----------- */

#container, #header {
    background-color: #ADB583;
    color : black;
}


#sidepanel div.box {
    border : white 2px solid;
}

.toggle0 { 
    color : #A03E19; 
    background-color : #DEE2BD; 
    font-weight: bold; 
} 

.toggle1 {
    background-color : #EDF4D1;
    color : black;
}

.toggle2 {
    background-color : white;
    color : black;
}


.bgcolor1 {
    background-color : #DEE2BD;
    color : black;
}

.highlight:hover, .bgcolor2 {
    background-color : #EDF4D1;
    color : black;
}

.bgcolor3 {
    background-color : #ADB583;
    color : black;
}


q {
    background-color : #d6d7ca;
    color : black;
}


a:link, a:visited {
    text-decoration : none;
    background-color : inherit;
    color: #A03E19;
}

a:hover, a:active {
    text-decoration : underline;
    background-color : inherit;
    color: #000;
}


h1, h2, h3 {
    background-color : inherit;
    color: #A03E19;

}

h1 a {
    text-decoration : none;
}

h1 a:hover {
    background-color : inherit;
    color : #CB572D;
}


th {
    color: #A03E19;
    background-color : #DEE2BD;
}


.box {
    background-color : #ebedd1;
    color : black;
}


.box-title {
    background-color : #DEE2BD;
    color : black;
}


/* -------- Form color ---------- */
input, textarea {
    color: #000;
    background-color: #ADB583;
    border: #000 solid 1px;
}

input:focus, textarea:focus {
    background-color : #EDEFDB;
    color : black;
}


input[type="submit"], input[type="button"]{
    color: #000;
    background-color: #ADB583;
    border: 1px #000 outset;
    cursor : default;
    cursor : pointer;
}



/* ----------- Module ----------- */
#top-menu {
    background-color : #DEE2BD;
    color : black;
}

#top-menu a:hover{
    background-color : #ADB583;
    color : black;
}

div.blog div.box {
    border : 2px white solid;
}

div.blog div.read-more {
    border-top : 1px solid white;
    margin-top : 5px;
}

div.category-links {
    padding : 4px;
    background-color : #EDF4D1;
    color : black;
}

/*--------------- Control Panel ---------------*/

div.frame {
    background-color: #CBCEAC;
    color : black;
    border-color : #90996E;
}

div.backgrd {
    border-color: #90996E;
}

ul.tabmenu li a {
    border-color: #90996E;
    border-bottom : none;
    padding-bottom : 1px;
}

ul.tabmenu li.active a {
    border-color: #90996E;
    border-bottom : none;
    padding-bottom : 2px;
}

ul.tabmenu li.inactive {
    background-color : #DEDFBA;
    color : #49493D;
}

ul.tabmenu li.active {
    background-color : #CBCEAC;
    color : #49493D;
}

ul.tabmenu li.active a:visited {
    text-decoration: none;
    background-color : inherit;
    color: #49493D;
}

ul.tabmenu li.inactive a:link {
    text-decoration: none;
    background-color : inherit;
    color: #49493D;
}

ul.tabmenu li.inactive a:visited {
    text-decoration: none;
    background-color : inherit;
    color: #49493D;
}

ul.tabmenu li.inactive a:hover {
    text-decoration: none;
    color: black;
    background-color : inherit;
}

ul.tabmenu li.inactive:hover {
    background-color : #CBCEAC;
    color: black;
}

/*--------------- End Control Panel ---------------*/

div.menu-link {
    border-top : white 2px solid;
    margin : 0;
    padding : 0;
    font-size : .9em;
}

div.menu-link a {
    font-weight : bold;
    text-decoration : none;
}

div.menu-link a:hover {
    text-decoration : underline;
}

div.menu-link:hover {
    background-color : #ADB583;
    color : black;
}

div.link-level-1 {
    padding : 5px;
    background-color : #CBCEAC;
    color : black;
}

div.link-level-2 {
    padding : 5px;
    padding-left : 1em;
    background-color : #E2E5BF;
    color : black;
}

div.link-level-3 {
    padding : 5px;
    padding-left : 2em;
    background-color : #F1F4CC;
    color : black;
}

div.link-level-1:hover,
div.link-level-2:hover,
div.link-level-3:hover {
    background-color : inherit;
    color : black;
}

div.current-link {
    background-color : #ADB583;
    color : black;
}

div.category-menu-bar {
    background-color : #DEE2BD;
    color : black;
}

div.panel-title {
    background-color : #DEE2BD;
    color : black;
    padding : 4px;
    margin-bottom : 10px;
}

ul#navlist li a {
    background-color : #ADB583;
    color : black;
}

div.category-info {
   margin-bottom : 10px;                  
}

div.breadcrumb span.current-bc {
   font-size : 1.1em;
   font-weight : bold;
}

/*---- Notes ---- */

.note-not-read {
   font-weight : bold;
}


/*---- PageSmith ----*/
div#simple-page {
   background-color : #ebedd1;
   color : inherit;
}

div.horzontal-menu ul li div {
   background-color : #EBEDD1;
}
