body {
    color: #000;
background-color : #B6EBB7;
}

#container {
background-color : #90C69B;
}

.toggle1 {
    background-color : #CDF4D3;
}

.bgcolor1 {
        background-color : #86F6C7;
}

.bgcolor2 {
        background-color : #EDF4D1;
}

.bgcolor3 {
        background-color : #7CB582;
}


q {
    background-color : #BBD7C0;
}


a:link, a:visited {
    color: #58765A;
}

a:hover, a:active {
    color: #000;
}


h1, h2, h3 {
    color: #4E716F;
}


h1 a:hover {
    color : #71A4A1;
}


th {
    color: white;
    background-color : #459821;
}


.box {
        background-color : #A8EDBC;
}


.box-title {
        background-color : #CCF4CB;
}


/* -------- Form color ---------- */

input, textarea {
    color: #000;
    background: #7DB57E;
    border: #000 solid 1px;
}

input:focus, textarea:focus {
background-color : #6FA170;
}

input[type="submit"] {
    color: #000;
    background: #80B581;
    border: 1px #000 outset;
    cursor : default;
    cursor : pointer;
}



/* ----------- Module ----------- */
#top-menu {
    background-color : #BBE2B9;
}

#top-menu a:hover{
    background-color : #C6F0C5;
    color : black;
}


div.category-links {
    padding : 4px;
    background-color : #CEF4CD;
}


div.menu-link:hover {
    background-color : #84B580;
}

div.link-level-1 {
    padding : 5px;
    background-color : #AACEA9;
}

div.link-level-2 {
    padding : 5px;
    padding-left : 1em;
    background-color : #C1E5BC;
}

div.link-level-3 {
padding : 5px;
padding-left : 2em;
background-color : #D7F4CC;
}

div.link-level-1:hover,
div.link-level-2:hover,
div.link-level-3:hover {
    background-color : transparent;
}

div.current-link {
    background-color : #ADB583;
}

div.category-menu-bar {
    background-color : #DEE2BD;
}

div.panel-title {
    background-color : #BCE2BE;
}

