/* --------------- IE CSS Hacks ------------- */

img.float-left, img.float-right {
    display : inline;
}

body {
   width : 99%;
}

div.controlpanel div.frame {
    background-color : white;
}

div.controlpanel div.frame div.backgrd {
    border : none;
}


#top-menu, #user-login, #main-content, .box-title {
height : 1%;
}

#top-menu, #user-login, #main-content, .box-title {
   zoom : 1;
}

.menu-admin span.menu-link-pop {
    padding : 0px;
    display : inline;
    position : relative;
    margin : 0px;
    border : none;
    background-color : transparent;
}

.menu-admin-link {
    display : none;
}

