/* --------------- IE 7 CSS Hacks ------------- */

img.float-left, img.float-right {
    display : inline;
}

#top-menu, #user-login, #main-content, .box-title {
   zoom : 1;
}

.menu-admin-link {
    display : none;
}

input[type="submit"] {
    color: #000;
    border: 1px #000 outset;
    cursor : default;
    cursor : pointer;
}

/* IE7 sometimes stretches buttons out. not sure why */
input[type="submit"], input[type="button"]{
  overflow : visible;
}
