/* --------- Layout and positioning ------------ */

#container {
        border: 5px solid #FFF;
        margin : 10px 10px;
        padding: 10px;
}

#sidepanel {
        float : left;
        width : 17%;
        margin-right : 1%;
}

#main-content {
        margin-left : 18%;
}

#content h1, h2 {
        padding : 3px;
}

#header {
        padding-bottom : 10px;
}

#header img {
        padding : 0px;
}

#footer {
        clear: both;
        font-size : 90%;
        padding: 5px;
        margin-top: 15px;
        border-top : white 1px solid;
}

#top-menu {
    position : relative;
    padding : 5px 5px 8px 5px;
    text-align : right;
    margin-bottom : 5px;
    overflow : hidden;
}

#search-box {
    float : left;
    padding : 0;
    margin : 0;
    display : inline;
}

div.block-embedded {
    width : 200px;
}

#miniadmin div.box-content {
   font-size : .9em;
   max-height : 180px;
   overflow : auto;
}

#blog-list-view {
   margin-bottom : 2em;
}

div.horizonal-menu {
   position : absolute;
}
