body {
	margin : 0;
	padding : 0;
	font-size: 10pt;
	font-family : Arial, Helvetica, sans-serif;
	color: #000;
	background-color : #DFE3BA;
}

#gutter {
	float : left;
	width : 3%;
}

#container {
	width: 90%;
	background-color: #ADB583;
	border: 5px solid #FFF;
	margin : 10px auto;
	padding: 10px;
}

#sidepanel {
	float : left;
	width : 17%;
	display : inline;
}

#content {
	float : left;
	margin-left: 3%;
	width : 74%;
}


#content h1 {
	background-color : #DEE2BD;
	padding : 3px;
}


#header {
	background-color : #ADB583;
	padding-bottom : 10px;
}

#header img {
	padding : 0px;
}

#footer {
	clear: both;
	font-size : 90%;
	padding: 5px;
	margin-top: 15px;
	border-top : white 1px solid;
}


a:link, a:visited {
	text-decoration: underline;
	color: #000;
}
a:hover, a:active {
	text-decoration: none;
	color: #A03E19;
}


h1, h2, h3 {
	color: #A03E19;
	font-family: "Trebuchet MS", Verdana, serif;	
	margin: 0;
	text-transform: lowercase;
	font-weight : bold;
}

h1 {
	font-size :  16pt;
}

h2 {
	font-size :  12pt;
}

h3 {
	font-size :  10pt;
}

.toggle1 {
	background-color : #EDF4D1;
}

.toggle2 {
	background-color : white;
}


th {
	font-weight : bold;
	font-family : "Trebuchet MS", Verdana, serif;
	color: #A03E19;
	text-align : left;
	background-color : #DFE3BA;
}

tr, td {
	vertical-align : top;
}


div.box {
	background-color : #CBCEAC;
	margin-bottom : 10px;
	padding : 6px;
}

#sidepanel div.box {
	border : white 2px solid;
}

div.box a:link, div.box a:visited {
	color: #42443A;
}
div.box a:hover, div.box a:active {
	color: #42443A;
}

.box h1, .box h2, .box h3 {
	font-size : 12pt;
	font-weight : bold;
}

.bgcolor1 {
	background-color : #DEE2BD;
}

.bgcolor2 {
	background-color : #EDF4D1;
}

input {
	font-size : 9pt;
}

